<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{.Site.BaseURL}}apple-touch-icon.png?v={{ now.Unix }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}favicon-32x32.png?v={{ now.Unix }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}favicon-16x16.png?v={{ now.Unix }}">
<link rel="manifest" href="{{.Site.BaseURL}}webmanifest.json">
<meta name="msapplication-TileColor" content="#303030">
<meta name="theme-color" content="#303030">
