@import "github-gist.scss";

/* Outdated post message */
.outdated-post {
  color: var(--card-text-color-main);
  font-size: .7em;
  padding: 1em;
  margin: 0 0 1em 0;
  text-align: center;
  background-color: var(--card-background-selected);
  border-radius: var(--tag-border-radius);
}
