@import "github-gist.scss";

/*
 * Outdated post message
 */
.outdated-post {
  color: var(--card-text-color-main);
  font-size: .7em;
  padding: 1em;
  margin: 0 0 1em 0;
  text-align: center;
  background-color: var(--card-background-selected);
  border-radius: var(--tag-border-radius);
}

/*
 * Scroll bar
 */
::-webkit-scrollbar-thumb {
  border-radius: var(--tag-border-radius);
}

/**
 * Shortcode "wide-image"
 */
.wide-post-image {
  display: block;
  width: 100%;
}

code, pre {
  -moz-tab-size: 2;
  tab-size: 2;
}

.widget--toc {
  ::-webkit-scrollbar-thumb {
      background-color: var(--body-background);
  }

  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
  }

  #TableOfContents {
    padding: 10px 0 10px 10px;
    opacity: .8;
    transition: opacity 200ms ease-out;
    max-height: 80vh;
    font-size: .9em;

    ol, ul {
      code {
        color: var(--code-text-color);
        background-color: var(--code-background-color);
        padding: 1px 4px;
        border-radius: var(--tag-border-radius);
        font-family: var(--code-font-family);
      }

      & > li {
        font-weight: bold;

        li {
          font-weight: normal;
        }
      }

      li {
        margin: 5px 0;
        padding: 3px 5px;

        &::before {
          margin-right: 2px;
        }
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
