</main>
<footer class="footer">
  <span>{{ now.Year }} &copy; {{ .Site.Copyright }}</span>
  <!--span>&middot;</span-->
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"
        integrity="sha512-zol3kFQ5tnYhL7PzGt0LnllHHVWRGt2bTCIywDiScVvLIlaDOVJ6sPdJTVi0m3rA660RT+yZxkkRzMbb1L8Zkw=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/languages/routeros.min.js"
        integrity="sha512-TMYE2sGbtnbM7wSCsu0ckXLFI4XmcPzIi2MDrUNRlTXlWTOj9FyTap0ocnOUfAWPvpXGkxDN6kZoAdvk16eNFg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/languages/yaml.min.js"
        integrity="sha512-+SOjIeQujn8n6mzB4huTBHQGnbF8OaiOOfBMalxIV0YSOSNFdatL+DVCZJj5JLN8XOnpR6v8kkWBpwDCiuWnKw=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/languages/dockerfile.min.js"
        integrity="sha512-eRNl3ty7GOJPBN53nxLgtSSj2rkYj5/W0Vg0MFQBw8xAoILeT6byOogENHHCRRvHil4pKQ/HbgeJ5DOwQK3SJA=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/languages/go.min.js"
        integrity="sha512-+UYV2NyyynWEQcZ4sMTKmeppyV331gqvMOGZ61/dqc89Tn1H40lF05ACd03RSD9EWwGutNwKj256mIR8waEJBQ=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/languages/php.min.js"
        integrity="sha512-hnRyQuBeWhxMRyblWzBft5BwJSbi09r6ThdGEUswHHlJkvIpcMRfrx07WbRHddzbUzMMywE4Lx8PmSUpZybC9w=="
        crossorigin="anonymous"></script>

<script data-no-instant>
  (function () {

    if (typeof hljs === 'object') {
      hljs.initHighlightingOnLoad();
    }

    let
      // $toggle = document.querySelector('.menu-toggle'),
      // $body = document.querySelector('body'),
      $outdated = document.querySelectorAll('.outdated-post');

    // $toggle.addEventListener('click', function () {
    //   $body.classList.toggle('noscroll');
    // }, false);

    let now = new Date();

    for (let i = 0, len = $outdated.length; i < len; i++) {
      let
        $el = $outdated[i],
        posted_at = new Date($el.getAttribute('data-posted-at')),
        diff = Math.abs(now.getTime() - posted_at.getTime()),
        days = Math.ceil(diff / (1000 * 3600 * 24));

      if (days >= 547 /* 1,5 years */) {
        $el.style.display = 'block';
        $el.style.visibility = 'visible'
      }
    }

  })();
</script>
</body>
</html>
